<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">Chuong Care</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <% if user_signed_in? %>
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <p>Welcome, <%= current_user.email %>!</p>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Dashboard</h1>
      <section>
        <h3>Your Care Receivers</h3>
        <% if current_user.care_receivers.count > 0 %>
          <% current_user.care_receivers.each do |care_receiver| %>
          <p><%= link_to "#{care_receiver.full_name}", care_receiver %></p>
          <% end %>
        <% end %>
        <p><%= link_to '+ Add Care Receiver?', new_care_receiver_path %></p>
      </section>

      <section>
        <% if current_user.care_receivers.count > 0 %>
          <% current_user.care_receivers.each do |care_receiver| %>
            <h3><%= care_receiver.full_name  %>'s Daily Stats</h3>
            <table class="table">
              <thead class="thead-default">
                <tr>
                  <th>Date</th>
                  <th>Systolic BP</th>
                  <th>Diastolic BP</th>
                  <th>Heart Rate</th>
                  <th>Recorded By</th>
                </tr>
              </thead>
              <tbody>
                <% care_receiver.daily_records.each do |daily_record|%>
                  <tr>
                    <th scope="row"><%= daily_record.created_at.strftime("%m/%d/%Y") %></th>
                    <td><%= daily_record.systolic_bp %></td>
                    <td><%= daily_record.diastolic_bp %></td>
                    <td><%= daily_record.heart_rate %></td>
                    <td><%= daily_record.user.email %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>

          <% end %>
        <% end %>

      </section>


    </div>
  </div>
</div>
