<%= form_with(model: patient, local: true) do |form| %>
  <% if patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      <%= form.label :first_name %> *<br>
      <%= form.text_field :first_name %><br>
  </div>
  <div class="field">
      <%= form.label :last_name %> *<br>
      <%= form.text_field :last_name %><br>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
