<p id="notice"><%= notice %></p>

<%= @care_receiver.full_name %>

<%= link_to 'Edit', edit_care_receiver_path(@care_receiver) %> |
<%= link_to 'Share', share_care_receiver_path(@care_receiver) %> |
<%= link_to 'Back', home_index_path %>
